@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@100;200;300;400;500;600;700;800&display=swap");

html,
body {
  margin: 0px;
  height: 100%;
}

/* Home Page */
.home {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Home Page Cover */
.homeHeader {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header-section {
  background-image: url("./Assets/canvas-white.jpg");
  height: 100%;
}

.homeImage {
  max-width: 100%;
  height: auto;
}

.h1Home {
  padding-top: 10px;
  font-size: 8vw !important;
  font-weight: 100 !important;
  font-family: "Knewave", cursive;
  position: relative;
  bottom: 10%;
}

.h2Home {
  font-size: 2vw !important;
  position: relative;
  bottom: 10%;
}

/* Home Page About */
.aboutme {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #88807b;
  color: white;
}

.aboutme p {
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: 400;
}

/* Home Page Skills */
.skill {
  padding-top: 40px;
  background: #d9dddc;
  color: black;
}
.skill p {
  display: flex;
  justify-content: center;
  padding-left: 500px;
  padding-right: 500px;
  font-weight: 400;
}
.skill table {
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: left;
}

.skill th,
td {
  width: 300px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 10px;
}

.skill svg {
  margin-right: 10px;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #222021;
  color: white;
}

.footerIcons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

footer a {
  padding-left: 10px;
  padding-right: 10px;
}

footer p {
  padding-top: 20px;
  font-size: 15px !important;
}

/* Misc */

a {
  color: inherit;
}

/* All */
* {
  font-family: "Trispace", serif;
  font-size: 20px;
  font-weight: 500;
}

h3 {
  font-weight: 100;
}

/* Mobile */
@media screen and (max-width: 900px), screen and (max-height: 800px) {
  .homeHeader {
    height: fit-content;
    text-align: center;
  }

  .homeImage {
    padding-top: 10%;
    max-width: 100%;
    height: auto;
  }

  .h1Home {
    padding-top: 10px;
    font-size: 14.2vw !important;
    font-weight: 100 !important;
    font-family: "Knewave", cursive;
    position: relative;
    bottom: 50px;
  }

  .h2Home {
    font-size: 3.9vw !important;
    position: relative;
    bottom: 50px;
  }

  .aboutme p {
    font-size: 1.3vh;
  }
}

/* Hide Scroll Bar */
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
